<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="Logs"/>
  <variable name="logFileName" value="BirdTracker"/>
  <variable name="layout" value="${longdate:universalTime=true} [${pad:padding=2:inner=${threadid}}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} - ${message:withException=true}"/>

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${logDir}\${logFileName}.log"
            archiveFileName="${logDir}\${logFileName}.{#}.log"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"
            archiveAboveSize="20480000"
            layout="${layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>